/* Body Styles */
/* Body Styles */
body {
    font-family: Arial, sans-serif;
    color: #3b3838;
    text-align: center;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Header Styles */
  h1 {
    margin-top: 40px;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 600;
    color: #d2d7db;
    text-shadow: 1px 1px #0e0b0b;
  }
  
  
  
  /* Social Media Background Images */
  body[data-background="instagram"] {
    background-image: url('https://images.unsplash.com/photo-1561557944-6e7860d1a7eb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bWFjaGluZSUyMGxlYXJuaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60');
  }
  
  /* Button Styles */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin-top: 20px;
    width: 200px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
  }
  
  a:hover {
    background-color: #0069d9;
  }
  
  .instagram {
    background-color: #C13584;
  }
  
  .twitter {
    background-color: #1DA1F2;
  }
  
  .facebook {
    background-color: #3B5998;
  }
  
  i {
    margin-right: 10px;
    font-size: 20px;
    color: #fff;
  }
  /* Responsive Styles */
  @media (max-width: 768px) {
    h1 {
      font-size: 24px;
    }
  
   
  }